/* Colors */
$color-gray-capecod: #3A4145;
$color-gray-cod: #111;
$color-gray-mid: #999;
$color-gray-light: #ccc;
$color-gray-lighter: #eee;
$color-white: #FFF;

$color-gold-hockeypockey-light: #D2AE2E;
$color-gold-hockeypockey-dark: #C6A42E;


/* Colors by functionality */
$color-text-primary: $color-gray-capecod;
$color-text-light: $color-gray-lighter;
$color-primary: $color-gold-hockeypockey-light;
$color-primary-shadow: $color-gold-hockeypockey-dark;
$color-background: $color-gray-cod;
$color-input-bg: $color-white;
$color-input-bg-disabled: $color-gray-lighter;
$color-input-border: $color-gray-light;
$color-input-border-focus: $color-gold-hockeypockey-light;
$color-input-placeholder: $color-gray-mid;

/* Typography */
$font-size-base: 14px;
$line-height-base: 1.428571429; // 20/14
$font-family-serif: "Merriweather", serif;
$font-family-sanserif: "Open Sans", sans-serif;

/* Margins and paddings */
$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

/* Border radius */


/* Asset paths */


/* Media query breakpoints */
$brk-mobile: "(max-width: 500px)";
$brk-narrow: "(max-width: 768px)";
$brk-normal: "(max-width: 1024px)";
$brk-wide: "(min-width: 1024px)";
$retina: "(-webkit-min-device-pixel-ratio: 2)";

/* forms and inputs */
// $input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-base: 44px;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;
